<!-- CTA Banner -->
    <div class="row flush">
      <div class="col-12 flush bg-dark text-center">
        <div class="h1-auto text-warning pt-5">
          A CALL TO ACTION THAT CALLS TO ACTION
        </div>
        <div class="h1 pb-5">
          <a href="#" class="h1 btn btn-outline-warning py-1">Let's get started, shall we?</a>
        </div>
      </div>
    </div>
    <!-- End CTA Banner -->