<!-- Footer -->
    <div class="container bg-dark">
      <div class="row">
        <div class="col-6 col-md-3 pl-5">
          <div class="">
            <h1 class="h1-auto text-warning">Logo</h1>
            <small>Get connected</small>
            <h3 class="text-warning pt-3">
              <i class="fab fa-facebook-f pr-1"></i>
              <i class="fab fa-instagram px-1"></i>
            </h3>
          </div>
        </div>
        <div class="col-6 col-md-4 pl-5">
          <ul class="list-group">
            <li class="footer-link">
              <a href="#" class="footer-link">ABOUT</a>
            </li>
            <li class="footer-link">
              <a href="#" class="footer-link">PRODUCTS</a>
            </li>
            <li class="footer-link">
              <a href="#" class="footer-link">SERVICES</a>
            </li>
            <li class="footer-link">
              <a href="#" class="footer-link">COMMUNITY</a>
            </li>
            <li class="footer-link">
              <a href="#" class="footer-link">HELP</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-12 col-md-5 pr-5 pl-5">
          <h4 class="text-warning pt-2">
            "Nothing will work unless you do."
          </h4>
          <p class="lead">Maya Angelou</p>
        </div>
      </div>
    </div>
    <!-- End Footer -->