 <!-- Loader Overlay -->

  <div id="loader" class="d-flex justify-content-center align-items-center">
    <div id="loader-img">
      <img src="img/logo.png">
    </div>
  </div>

  <!-- End Loader Overlay -->