<!-- Navbar -->
    <nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark flush">
      <div class="container flush">
        <div id="logo" class="text-center">
          <a href="#">
            <img src="img/logo.png" class="pb-2" alt="M FAB" />
          </a>
        </div>
        <button class="navbar-toggler my-2 mx-2 navbar-anim" type="button" data-toggle="collapse"
          data-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse flex-column align-items-end" id="navbarCollapse">
          <ul class="navbar-nav flex-row pl-3">
            <li class="nav-item">
              <a class="nav-link" href="#">FAQ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Sign In</a>
            </li>
            <li class="nav-item">
              <a class="nav-link border border-warning" href="#">
                Become a Member
              </a>
            </li>
          </ul>
          <ul class="navbar-nav flex-row pt-2 pl-3">
            <li class="nav-item active">
              <a class="nav-link" href="#">
                HOME
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">ABOUT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">PRODUCTS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">SERVICES</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">COMMUNITY</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- End Navbar -->