 <!-- Newsletter -->
    <div class="container flush">
      <div class="row bg-dark flush">
        <div class="col-8 mx-auto text-center py-5">
          <h1 class="py-1 text-light h1-auto">Sign Up for our newsletter</h1>
          <form action="" class="form">
            <div class="form-group">
              <input type="email" class="form-control" id="newsletter-signup" placeholder="Email Address" />
            </div>
            <a href="#" class="btn btn-block btn-warning text-dark">Sign Up</a>
          </form>
        </div>
      </div>
    </div>
    <!-- End Newsletter -->