 <!-- Reviews -->
    <div class="container">
      <div class="row">
        <div class="col-12 pt-3">
          <h1 class="text-center pt-5 pb-1 h1-auto">
            What people are saying
          </h1>
          <div class="carousel slide" data-ride="carousel" id="reviews-carousel">
            <!-- Carousel Slides / Quotes -->
            <div class="carousel-inner text-center">
              <!-- Quote 1 -->
              <div class="carousel-item active">
                <blockquote>
                  <div class="row">
                    <div class="col-8 mx-auto">
                      <img src="img/reviews/avatar.png" class="rounded-circle img-fluid w-25" alt="review avatar" />
                      <p class="text-justify">
                        <i class="fas fa-quote-left fa-2x mr-3"></i>
                        Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua. Ut enim ad minim veniam, quis
                        nostrud exercitation ullamco laboris nisi ut aliquip
                        ex ea commodo consequat. Duis aute irure dolor in
                        reprehenderit in voluptate velit esse cillum dolore eu
                        fugiat nulla pariatur. !
                      </p>
                      <small>Someone famous</small>
                    </div>
                  </div>
                </blockquote>
              </div>

              <div class="carousel-item">
                <blockquote>
                  <div class="row">
                    <div class="col-8 mx-auto">
                      <img src="img/reviews/avatar2.png" class="rounded-circle img-fluid w-25" alt="review avatar" />
                      <p class="text-justify">
                        <i class="fas fa-quote-left fa-2x mr-3"></i>
                        Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua. Ut enim ad minim veniam, quis
                        nostrud exercitation ullamco laboris nisi ut aliquip
                        ex ea commodo consequat. Duis aute irure dolor in
                        reprehenderit in voluptate velit esse cillum dolore eu
                        fugiat nulla pariatur. !
                      </p>
                      <small>Someone famous</small>
                    </div>
                  </div>
                </blockquote>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Reviews -->