<!-- Slider -->
    <div id="slider-main" class="carousel slide flush" data-ride="carousel">
      <div class="carousel-inner">
        <div id="slider-text" class="carousel-caption d-none d-md-block bg-warning box-shadow">
          <div class="display-4-auto text-dark">Welcome to Your Company</div>
          <div class="h5 text-dark pb-3">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, distinctio?
          </div>
          <button class="btn btn-dark">
            Become a Member
          </button>
          <button class="btn btn-outline-dark">Visit Us</button>
        </div>
        <div class="carousel-item active dark-overlay">
          <img class="d-block w-100" src="img/slider/1.jpg" alt="First slide" />
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="img/slider/2.jpg" alt="Second slide" />
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="img/slider/3.jpg" alt="Third slide" />
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="img/slider/4.jpg" alt="Fourth slide" />
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="img/slider/5.jpg" alt="Fifth slide" />
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="img/slider/6.jpg" alt="Sixth slide" />
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="img/slider/7.jpg" alt="Seventh slide" />
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="img/slider/8.jpg" alt="Eight slide" />
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="img/slider/9.jpg" alt="Ninth slide" />
        </div>
      </div>
    </div>
    <!-- End Slider -->